<div class="container">
  <div class="card">
    <div class="card-header">
      <%= link_to 'Generate a New Superhero', root_path, class: "btn btn-primary" %>
    </div>

    <div class="container body">
      <div class="row">
        <div class="col-4 image">
          <img src="<%= @avatar %>">
        </div>
        <div class="col-8 body">
            <div class="name"> Your Superhero Name: </div>
              <%= @hero_name %><br/>
          
              <div class="power">Your Superhero Power:</div>
              <%= @hero_power %><br/>
      
             <div class="title">Your Under Cover Day Job:</div>
             <%= @corp_title %><br/>
          
             <div class="corp">Your Corporate Superpower is:</div>
             <%= @corp_power %>
          
        </div>

         <div class="col-4">  
         </div>
           
      </div>
      
    </div>
    
    <div class="card-footer">
    <%= link_to 'Generate a Team', home_team_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

