<div class="container">
  <div class="card">
    <div class="card-header">
      <%= link_to 'Home Page', root_path %>
    </div>

    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Your Superhero Name:<br/> <%= @hero_name %><br/>
          Your Superhero Power:<br/><%= @hero_power %>
          <p>
           Your Under Cover Day Job:<br/> <%= @corp_title %>
         </p>
         <p>
           Your Corporate Superpower is:<br/> <%= @corp_power %>
         </p>

         <img src="<%= @avatar %>">
        
    </div>

    <div class="card-footer">
    <%= link_to 'Create A Team', home_team_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

