<% @team_number.times do %>

  <div class="container">
    <div class="row">
      <div class="col-4 image">

        <% rand_num = rand(1..1000) %>
        <% set_number = rand(1..2) %>

        <% if set_number == 1 %>
          <% set = "set1" %>
        <% else %>
          <% set = "set2" %>
        <% end %>

        <% bg = rand(1..2) %>
        <% if bg == 1 %>
          <% background = "bg1" %>
        <% else %>
          <% background = "bg2" %>
        <% end %>
 
        <% avatar = Faker::Avatar.image(rand_num, "300x300", "png", set,  background) %>

        <img src="<%= avatar %>">
      </div>

      <div class="col-8 body">
          <div class="name"> Your Superhero Name: </div>
            <%= Faker::Superhero.name %><br/>
        
            <div class="power">Your Superhero Power:</div>
            <%= Faker::Superhero.power %><br/>

           <div class="title">Your Under Cover Day Job:</div>
           <%= Faker::Job.title%><br/>
        
           <div class="corp">Your Corporate Superpower is:</div>
           <%= Faker::Company.bs.titleize %>
        
      </div>

       <div class="col-4">  
       </div>
             
    </div>
  </div>
<% end %>