<!DOCTYPE html>
<html>
  <head>
    <title>Super Hero App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= link_to 'Home Page', root_path %>

    <%= link_to 'Create A Team', home_team_path %>

    <%= yield %>
  </body>
</html>
