<!DOCTYPE html>
<html>
  <head>
    <title>Super Hero App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'home/shared/navbar' %>

    <%= yield %>

    <br/><br/>
    <br/><br/>
      <center>
      © Rob Brown - All Rights Reserved
    </center>
  

  </body>
</html>
